body{
    margin: 0px;
    background-color: blue;
}

header {
    background-color: black;
    color: #fff;
    padding: 30px;
    text-align: right;
    height: 60px;
}

.logo {
    float: left;
    margin-left: 100px;
    margin-bottom: 10px;
}

.logo>img {
    width: 100px;
    height: 60px;
}

.links>ul>li {
    display: inline;
    margin-right: 20px;
}

.links>ul>li>a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.Assignment{
    width: 80%;
    height: 70%;
}

footer {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: center;
}
